<div class="jumbotron mylist">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>



    <!-- Wrapper for slides -->

    <div class="carousel-inner">

      <div class="item active">
        <img class="product_photo" src="http://localhost:3000/upload/default_product.png" alt="Shopping">
        <span class="badge " style="font-size:2em; display:block;float:right">Shopping</span>
      </div>

      <div class="item">
        <img class="product_photo" src="http://localhost:3000/upload/photo_597da0a8fa36b429dc1dbb47.png" alt="Datte (Deglet Ennour Tunisienne)">
        <span class="badge" style="font-size:2em; float:right">Deglet Ennour Tunisienne</span>
      </div>

      <div class="item">
        <img class="product_photo" src="http://localhost:3000/upload/photo_597da0e4fa36b429dc1dbb48.png" alt="Fraise">
        <span class="badge" style="font-size:2em; float:right">Fraise</span>
      </div>

      <div class="item">
        <img class="product_photo" src="http://localhost:3000/upload/photo_597daa0fc789db079c093770.png" alt="Carrotte">
        <span class="badge" style="font-size:2em; float:right">Carrotte</span>
      </div>

      <div class="item">
        <img class="product_photo" src="http://localhost:3000/upload/photo_597da9f8c789db079c09376f.png" alt="Danette">
        <span class="badge" style="font-size:2em; float:right">Vitalait Dolce</span>
      </div>
      <div class="item">
        <img class="product_photo" src="http://localhost:3000/upload/photo_597daac7c789db079c093772.png" alt="Banane">
        <span class="badge" style="font-size:2em; float:right">Banane Bresilien</span>
      </div>
    </div>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>  
 <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>
