<!--<div class="row">

  <form role="form" #form="ngForm">
    <legend>Liste Achat Details</legend>
    <div class="form-group">
      <label for="">label:</label>
      <input type="text" id="label" name="label" [(ngModel)]="currentListeAchata.label">

      <div class="form-group">
        <label for="">produit</label>
        <input type="text" id="items.produit.designation" name="items.produit.designation" [(ngModel)]="currentListeAchata.items.produit.designation">

      </div>

    </div>


    <button type="submit" class="btn btn-primary" (click)="addCurrentListeA(currentListeAchata)">save liste</button>


  </form>
</div>-->