<div class="col-md-3"></div>
<div class="col-md-6">
  <form role="form" class="mylist">
    <legend>Register Your Self</legend>
    <div class="form-group">
      
            <label for="">User Name</label>
            <input type="text" class="form-control" id="user_name" placeholder="Type your user name" name="user_name" [(ngModel)]="user.user_name">

            <label for="">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Type your password" name="password" [(ngModel)]="user.password">
       
            <label for="">Gender</label>
            <input type="text" class="form-control" id="gender" placeholder="your gender" name="gender" [(ngModel)]="user.gender">



            <label for="">Region</label>
            <input type="text" class="form-control" id="region" placeholder="Type your Region" name="region" [(ngModel)]="user.region">
      
            <label for="">Email</label>

            <input type="text" class="form-control" id="email" placeholder=" your mail" name="email" [(ngModel)]="user.email">
       
            <label for="">mobile</label>

            <input type="number" class="form-control" id="numtel" placeholder=" your phone" name="numtel" [(ngModel)]="user.numtel">

    </div>
    <button class="btn-primary" (click)="addUser(user)"> Register </button>
  </form>
  <div class="col-6"></div>
</div>


<!--
<code>
  {{user.user_name}}<br>
  {{user.password}}<br>
  {{user.gender}}<br>
  {{user.region}}
</code>
-->