
<div class="row" *ngIf="showform">   
    <div class="col-md-10 col-xs-10"> 
      <app-produitform [currentProductSp]='productsp'></app-produitform>
    </div>
  </div>

  <div class="row pagination" >
    <button class="btn-primary" (click)="displayForm()"> Add product Special </button>
    <div class="col-md-11 col-xs-11">
     
     
        <table class="table table-striped table-hover">
            <thead>
              <tr>
               
                <th>label</th>
                <th>description</th>

                <th>Prix min</th>
                <th>prix Max</th>
                
              </tr>
            </thead>
            <tbody *ngFor="let produitsp of malist ; let i=index">
              <tr>
              
                
                <td>{{produitsp.label}}</td>
                <td>{{produitsp.description}}</td>
               <td> {{produitsp.BudgetMin}}</td>
               <td> {{produitsp.BudgetMax}}</td>
                
              </tr>
            </tbody>
          </table>
     
    </div>
  </div>

