<div class="row">
    <form role="form" #form="ngForm" name="form" novalidate>
      <legend>market Details</legend>
      <div class="form-group">
        <label for="">Market:</label>
        <input type="text" class="form-control" id="market_name" name="market_name" [(ngModel)]="currentMarket.market_name" placeholder="market_name"
          (input)="onChangeMarket_Name()" required>
        <div ng-message="form.market_name.$error "*ngIf="form.$submitted">champ requis</div>
        <label for="">Adresse:</label>
        <input type="text" class="form-control" id="Adresse" name="Adresse" [(ngModel)]="currentMarket.Adresse" placeholder="Adresse" required>
     
       <br>
       <label for="">Ville</label>
        <select name="ville" [(ngModel)]="currentMarket.ville" id="ville" >
          <option  *ngFor="let ville of listeVille"  >
            {{ville}}
          </option>
            
        </select>
     <label for="">code postale</label>
     <input type="number" name="code" id="code" [(ngModel)]="currentMarket.code">
         
        
        

    </div>
 
      <button type="submit" class="btn btn-primary" (click)="add(context,currentMarket)">{{Btn_SaveAdd_label}}</button>
 <button type="submit" clas="btn btn-primary" (click)="edit(update,currentMarket)">{{Btn_Update}} </button>
    </form>
  </div>
  