<div id="img">

    <div class="container mylist">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form role="form">
                <legend style="color: white !important;">Login</legend>

                <div class="form-group">
                    <label for="" style="color: white !important;">User Name</label>
                    <input type="text" class="form-control" id="user_name" name="user_name" [(ngModel)]="_user.user_name" placeholder="Username"
                        required>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="_user.password" placeholder="Password"
                        required>
                </div>
            </form>
            <hr>
            <button id="btn-login" class="btn btn-success" (click)="login(_user)"> Login </button>
            <hr style="opacity:.1;">
            <button id="btn-login" class="btn btn-success" (click)="goSignupForm()" style="width:15em !important;"> Signup </button>
            <br>
            <div *ngIf="showMessage">
                <code>
              Code Erreur :{{result.err}} <br>
            </code>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>

</div>