#btn-login {
    width: 15em !important;
}

.mylist  {
    padding-top: 30px;
    margin-top: 30px;
  
}

#img {
   /* position: absolute;*/
    margin: auto;
    background: url(./../../../assets/logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   /* opacity: .5;*/
}