<div class="panel panel-primary">

  <div class="panel-heading">
    <div class="row">   Get Friends   </div>
    <div class="row" style="padding:3px !important">
      <input class="form-control" type="text" [(ngModel)]="queryString" placeholder="Search">
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-condesed table-hover">
      <thead>
        <tr>
          <!-- <th>#</th>-->
          <th>Avatar</th>
          <th>User</th>
        </tr> 
      </thead>
      <tbody *ngFor="let user of _users 
      | searchUserPipe : queryString 
      | paginate: { id:'users', itemsPerPage: 7, currentPage: p , totalItems: this.total };
      let i=index">
         <tr [ngClass]="getColor(i)"> 
          <!--  <td><code>{{user._id}}</code></td> -->
          <td>
            <div class="avatar_container">
              <img class="avatar" [src]="getAvatarUrl(user.gender)" /></div>
          </td>

          <td class="text-info">
            <button class="btn btn-success" (click)="sendInvitation(currentUser,user)"> Send To</button> {{user.user_name
            | uppercase}}
            <p>{{user.gender}} <i>{{user.region}}</i></p>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls id="users" (pageChange)="p = $event" class="my-pagination"></pagination-controls>
  </div>
  <div class="panel-footer">All Grocery List Registred Users</div>
</div>
