<app-liste></app-liste>
<div class="row" *ngIf="showform">
    
    <div class="col-md-10 col-xs-10">
      
      <app-formaAchat [currentListeAchat]='listA'></app-formaAchat>
    </div>
  </div>
  
  
 
  <div class="row pagination" >
    <button class="btn-primary" (click)="displayForm()"> Show Detail form </button>
    <div class="col-md-11 col-xs-11">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <!-- <th>Code</th>-->
            <th>Produit</th>
            <th>market</th>
            <th>Quantite</th>
            <th>Prix</th>
            <th>totale</th>
            <th>Edit</th>
            <th>Remove</th>
            
          </tr>
        </thead>
        <tbody *ngFor="let listA of malist 
       
        | paginate: { id:'listeAchats', itemsPerPage: 7, currentPage: p , totalItems: this.total };
        let i=index">
          <tr>
            <td class="row">{{ (p- 1) * 7 + i +1 }}</td>
            <!--<td><code>{{produit._id}}</code></td>-->
            <td>{{listA.produit}}</td>
            <td>{{listA.market}}</td>
            <td>{{listA.qte}}</td>
            <td>{{listA.prix}}</td>
            <td>{{listA.qte*listA.prix}} </td>
            <td><button class="btn-primary" (click)="edit(listA._id)"><span class="glyphicon glyphicon-pencil"></span> </button></td>
            <td><button class="btn-danger" (click)="delete(listA._id)"><span class="glyphicon glyphicon-remove"></span></button></td>
           
          </tr>
        </tbody>
      </table>
      <pagination-controls id="listeAchats" (pageChange)="p = $event" class="my-pagination"></pagination-controls>
    </div>
  </div>
  