.ordre{

}
.designation{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
    padding: 7px;
    color:grey 
}
.price{
 padding: 7px;
}

.market{
    padding:3px;

}
.quantity{

}

.cList{
    padding:3px;

}



.rond{
    border-radius: 50%;
}

.avatar{
    width:20%;
    padding: 3px;
    border-radius: 30%;
}

.avatar_container{  
    padding:-5px;
    display: block;
    float: left;
}

li {
    list-style: none;
}

.phtoProduit{
    width: 45px;
    padding: 3px;
}
