<div class="button-container">
    <label class="upload-button is-pulled-left">
      <input type="file"
             class="hidden"
             name="phot"
             ngFileSelect
             [options]="options"
             [events]="inputUploadEvents"
             (onUpload)="handleUpload($event)"
             (onPreviewData)="handlePreviewData($event)"
             (beforeUpload)="beforeUpload($event)">
      <span class="glyphicon glyphicon-folder-open"></span>
    </label>
  </div>
  <span>
      Allowed extensions: <code><b>.jpg</b>, ,<b>.jpeg</b> </code>
  </span>
  <div>
    <button type="button" class="start-upload-button" (click)="startUpload()">
        <span class="glyphicon glyphicon-upload"></span></button>
  </div>
  <!--<div *ngIf="response ">
    <pre><code>{{ response | json }}</code></pre>
  </div>-->
  <div>
    <pre><code>{{ ville | json }}</code></pre>
  </div>
  <div *ngIf="errorMessage">
    <code>{{ errorMessage }}</code>
  </div>
  <div *ngIf="previewData && !response">
    <img [src]="previewData">
  </div>
  