<div class="container mylist">
  <td><button class="btn btn-success >" (click)="addUser()"> Add User</button></td>
  <div class="col-md-10">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th> User Name</th>
          <th> Gender </th>
          <th> Region </th>
          <th> Remove</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of malist; let i=index">
        <tr>
          <td><code>{{user._id}}</code></td>
          <td>{{user.user_name | uppercase}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.region}}</td>


          <td><button class="btn-danger" (click)="delete(user._id)"><span class="glyphicon glyphicon-remove"></span></button></td>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="showForm">
    <app-signup-form></app-signup-form>


  </div>






</div>



