<app-jumbutron></app-jumbutron>
<!-- users for to invite-->
<div class="col-md-2">
  <div class="row">
    <img class="avatar" [src]="_avatar_url " />
   
    <span class="text-primary">
      Welcome:
    </span>
      {{_user.user_name}} :Admin
    <br>
  </div>

  <div class="row">
    <app-sending-invitation></app-sending-invitation>
  </div>
</div>
<!-- end user to invite-->


<div class="col-md-8">
  <app-murlist></app-murlist>
</div>






<div class="col-md-2">

    <app-recieved-invitation></app-recieved-invitation>
  <button class="btn btn-success" ><a href="http://localhost:4200/PrSpecial">Ask for product special</a></button>
 


</div>

<div class="">
  <!--<app-formu-liste></app-formu-liste>-->
</div>